.repository
target
*.iml
*.ipr
*.iws
*.ids
*.log
*.tlog
*web/war
*web/src/main/webapp/iask
*web/src/main/webapp/test
*web/src/main/webapp/mus
*web/src/main/webapp/error
*web/src/main/webapp/schedrpt
*web/src/main/webapp/obsp
*web/src/main/webapp/monitoring
*web/src/main/webapp/WEB-INF/classes
*web/iask-sqlmap-log.txt
rpcPolicyManifest
logs
MANIFEST.MF
.classpath
.project
.settings
settings.xml
.metadata
gwt-unitCache
*Messages.java
*Constants.java
*/src/main/java/ru/sbrf/iask/client/i18n/*.java
atlassian-ide-plugin.xml
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/base/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/client/obligation/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/client/quality/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/creditpack/ensuring/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/creditpack/search/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/frame/carcass/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/frame/error/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/letters/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/nsi/insurance/company/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/overdraftlimit/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/searchclients/additionalinfo/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/searchclients/common/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/searchclients/physical/gwt/client/i18n/RegionMessages.java
/iask-foundation/iask-authentication/iask-authentication-gwt/src/main/java/ru/sbrf/iask/foundation/authentication/gwt/client/i18n/*Messages.java
/iask-foundation/iask-lib/iask-lib-gwt/src/main/java/ru/sbrf/iask/foundation/filter/gwt/client/i18n/*Messages.java
/iask-foundation/iask-lib/iask-lib-gwt/src/main/java/ru/sbrf/iask/foundation/gwt/client/i18n/*Messages.java
/iask-foundation/iask-lib/iask-lib-gwt/src/main/java/ru/sbrf/iask/foundation/paging/gwt/client/i18n/*Messages.java
/sb-lmsm-iask-common/sb-lmsm-iask-common-ui-cache/src/main/java/com/luxoft/sbrf/iask/ui/common/client/i18n/cache/*Messages.java
/sb-lmsm-iask-common/sb-lmsm-iask-common-ui/src/main/java/com/luxoft/sbrf/iask/ui/common/client/i18n/*Messages.java
/sb-lmsm-iask-letters/sb-lmsm-iask-letters-ui/src/main/java/com/luxoft/sbrf/iask/ui/common/client/i18n/*Messages.java
/sb-lmsm-iask-letters/sb-lmsm-iask-letters-ui/src/main/java/ru/sbrf/iask/letters/core/requisites/gwt/client/i18n/*Messages.java
/sb-lmsm-iask-main/sb-lmsm-iask-main-ui/src/main/java/com/luxoft/sbrf/iask/ui/main/client/i18n/*Messages.java
/sb-lmsm-iask-rpt/sb-lmsm-iask-packrpt/sb-lmsm-iask-packrpt-ui/src/main/java/com/luxoft/sbrf/iask/ui/packrpt/client/i18n/*Messages.java
/sb-lmsm-iask-rpt/sb-lmsm-iask-schedrpt/sb-lmsm-iask-schedrpt-ui/src/main/java/com/luxoft/sbrf/iask/ui/rpt/client/i18n/*Messages.java
/*/src/main/java/ru/sbrf/iask/client/i18n/*.java
/*/*/*/src/main/java/ru/sbrf/iask/main/aplana/ui/client/i18n/*Messages.java
/*/*/*/src/main/java/ru/sbrf/iask/main/aplana/ui/client/i18n/*Messages.java
/*/*/*/*/src/main/java/ru/sbrf/iask/*/*/ui/client/i18n/*Messages.java
/*/*/*/*/src/main/java/com/*/sbrf/iask/*/client/i18n/*Messages.java
/*/*/*/src/main/java/com/*/sbrf/iask/ui/*/client/i18n/*Messages.java
/*/*/*/*/src/main/java/com/*/sbrf/iask/*/ui/client/i18n/*Messages.java
/sb-lmsm-iask-smp/sb-lmsm-iask-smp-ui/src/main/java/ru/sbrf/iask/client/i18n/*Messages.java
/sb-lmsm-iask-ui-web/src/main/java/com/luxoft/sbrf/iask/ui/web/client/i18n/*Messages.java
/sb-lmsm-iask-rpt/tes-rpt/tes-rpt-core/src/test/resources/templates/*.*
/sb-lmsm-iask-rpt/sb-lmsm-iask-packrpt/sb-lmsm-iask-packrpt-processor/src/test/resources/templates/*.zip
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/client/permission/gwt/client/i18n/*Messages.java
/iask-common/iask-forms/iask-forms-gwt/src/main/java/ru/sbrf/iask/common/forms/nsi/bsm/gwt/client/i18n/*Messages.java
/iask-foundation/iask-print/iask-print-web/src/main/java/ru/sbrf/iask/foundation/print/web/gwt/i18n/*Messages.java
/sb-lmsm-iask-main/sb-lmsm-iask-main-ui/src/main/java/com/luxoft/sbrf/iask/ui/main/client/i18n/*Constants.java
/sb-lmsm-iask-rpt/sb-lmsm-iask-scenrpt/sb-lmsm-iask-scenrpt-ui/src/main/java/com/luxoft/sbrf/iask/scenrpt/ui/client/i18n/*Messages.java
/sb-lmsm-iask-ui-customer/src/main/java/ru/sbrf/iask/client/i18n/*.java
.idea
.m2
*/.gwt/*.*
reports/*.*
/sb-lmsm-iask-rpt/tes-rpt/tes-rpt-core/src/test/resources/templates/*.xl*
/sb-lmsm-iask-rpt/tes-rpt/tes-rpt-core/src/main/resources/application.properties

/sb-lmsm-iask-rpt/tes-rpt/tes-rpt-lux/src/test/resources/jdbc.properties
/sb-lmsm-iask-rpt/tes-rpt/tes-rpt-epam/reports/*.xlsm
/sb-lmsm-iask-main/sb-lmsm-iask-main-aplana/sb-lmsm-iask-main-aplana-ui/src/main/java/ru/sbrf/iask/main/aplana/ui/client/form/system/journal/*Async.java
/sb-lmsm-iask-ui-dev/src/main/resources/classpath
/*/*/*/*/src/main/java/ru/sbrf/iask/common/*/client/i18n/*.java
/*/*/*/src/main/java/ru/sbrf/iask/main/aplana/ui/client/form/system/operdayrk/*Async.java
/*/*/src/main/java/com/luxoft/sbrf/iask/common/*/gwt/client/i18n/*tMessages.java
/*/*/*/src/main/java/ru/sbrf/iask/common/forms/*/*/gwt/client/i18n/*Messages.java
/*/*/*/src/main/java/ru/sbrf/iask/main/aplana/ui/client/form/commonoperation/HolyServiceAsync.java
/*/*/src/main/java/com/artezio/iask/*/client/Messages.java
/*/*/*/*/*/src/main/java/com/artezio/sbrf/iask/account/client/i18n/*Messages.java
/*/*/*/*/*/src/main/java/ru/sbrf/iask/mus/common/ui/gwt/client/i18n/*Messages.java
/*/*/*/src/main/java/ru/sbrf/iask/abed/aplana/ui/client/i18n/*Messages.java
/*/*/*/src/main/java/ru/sbrf/iask/abed/aplana/ui/client/form/document/review/service/*Async.java
/*/*/*/src/main/java/ru/sbrf/iask/main/aplana/ui/client/form/system/*/*Async.java
/*/*/*/*/src/main/java/com/artezio/sbrf/iask/ui/common/client/i18n/*Messages.java
/*/*/*/src/main/java/com/luxoft/sbrf/iask/so/ui/client/i18n/*.java
/*/*/*/*/src/main/java/ru/sbrf/iask/so/aplana/ui/client/operation/*/service/*Async.java
/*/*/*/*/src/main/java/ru/sbrf/iask/client/i18n/*.java
/*/*/*/src/main/java/ru/sbrf/iask/main/aplana/ui/client/service/*Async.java
/*/*/*/*/src/main/java/com/luxoft/sbrf/iask/so/ui/client/i18n/*.java
/*/*/*/*/src/main/java/ru/sbrf/iask/so/aplana/ui/client/form/**/service/*Async.java
/sb-lmsm-iask-mus/sb-lmsm-iask-mus-so/mus-so-common/merkk-epam/merkk-common-ui/src/main/java/ru/sbrf/iask/mus/common/ui/gwt/client/i18n/*.java
