.repository
target
*.ipr
*.iws
*.ids
*.log
*.tlog
*.class
*web/war
*web/src/main/webapp/test
*web/src/main/webapp/error
*web/src/main/webapp/obsp
*web/src/main/webapp/monitoring
*web/src/main/webapp/WEB-INF/classes
rpcPolicyManifest
logs
MANIFEST.MF
.classpath
.project
.settings
settings.xml
.metadata
gwt-unitCache
*Messages.java
*Constants.java
atlassian-ide-plugin.xml
.m2
*/.gwt/*.*
reports/*.*
